* {
    color:white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.box1 {
    width :20%;
    COLOR:white;
    border:2px;
    border-style:solid;
    border-color:white;
    border-radius:20px;
    text-align:center;;
    background-color: red;
    display:inline-block;
    position:relative;
    left: 70%;
}
.box2 {
    font-size: 20px;
    background:red;
    border-radius:20px;
}
.sect1 {
    width: 600px;
    height: 200px;
    margin-right:900px;
    margin-top:10px;
    background-color:red;
    border:2px;
    border-style:solid;
    border-color:white;
    border-radius: 20px;
    display: inline-block;
}